body {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 68%,
    rgba(252, 176, 69, 1) 100%
  );
}

.board-border {
  border: 5px solid black;
  border-radius: 20px;
}

.board {
  height: 500px;
  width: 500px;
  display: grid;
  border: 20px solid red;
  border-radius: 18px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tittle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mode {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
  gap: 10px;
}

button {
  border: none;
  border-radius: 50px;
  padding: 10px 20px 10px 20px;
}

button:hover {
  cursor: pointer;
  transition-duration: 0.1s;
}

#black-but:hover {
  border: 3px solid white;
}

#gray-but:hover {
  border: 3px solid white;
}

#white-but:hover {
  border: 3px solid black;
}

#colorful-but:hover {
  border: 3px solid black;
}

#reset-but:hover {
  border: 3px solid white;
}

#black-but {
  background-color: black;
  color: white;
}

#gray-but {
  background-color: #9e9e9e;
  color: white;
}

#colorful-but {
  background-image: linear-gradient(
    89.7deg,
    rgba(223, 0, 0, 1) 2.7%,
    rgba(214, 91, 0, 1) 15.1%,
    rgba(233, 245, 0, 1) 29.5%,
    rgba(23, 255, 17, 1) 45.8%,
    rgba(29, 255, 255, 1) 61.5%,
    rgba(5, 17, 255, 1) 76.4%,
    rgba(202, 0, 253, 1) 92.4%
  );
  color: black;
}

#reset-but {
  background-color: red;
  color: white;
  border: 2px solid white;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
